<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users Pantry - Community</title>
</head>
<body>
  <% include('../partials/_navbar.ejs') %>
  <h1>Community Page</h1>
  <ul>
    <% users.pantry.forEach(user => { %>
      <li>
        <p><%= user.name %></p>
        <p ><%= user.ingredients %></p> 
        <p ><%= user.cookTime %></p> 
      </li>
    <% }); %>
  </ul>
</body>
</html>
